body {
    background-color: #A0CED9;
}

#main-nav .nav-link{
    font-size: 1.25rem;
    color: #432853;
}

#main-nav .nav-link:hover{
    color: #A0CED9;
}

#canvas {
    height: 50vh;
    background-color: #E2F0F3;
    padding: 1%;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
}

.array-element {
    background-color: #FFC09F;
}

.compared-element {
    background-color: #506368;
}