body {
    background-color: #7BDFF2;
}

.navbar {
    background-color: #B2F7EF;
}

.navbar-expand .navbar-nav .nav-link {
    color: #412850;
    padding: 0 0.65rem;
    font-size: 1.15rem;
}

.navbar-expand .navbar-nav .nav-link:hover{
    color: #14AECC;
}

.navbar-expand .navbar-nav .nav-link:focus {
    border: none;
    box-shadow: none;
    outline: 0;
}

.navbar-expand .navbar-nav .nav-link:focus-visible{
    border: 1px solid #008296;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    outline: 0;
}

main {
    background-color: #EFF7F6;
}

#canvasContainer {
    height: 50vh;
    background-color: #BCF4F5;
    padding: 1%;
}

#canvas {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-end;
}

.array-element {
    background-color: #9EE5BB;
    border: 0.05rem solid #B2F7EF;
}

.compared-element {
    background-color: #1FD0D6;
}

.swap-element {
    background-color: #19ADB3;
}

.controlBtn {
    background-color: #fff;
    border: 1px solid #d5d9d9;
    color: #0f1111;
    box-shadow:  0  0 5px 2px rgba(213, 217, 217, .5);
    width: 48%;
}

.controlBtn:hover {
    background-color: #f7fafa;
}

.controlBtn:focus {
    border-color: #008296;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    outline: 0;
}

.focusable:focus {
    border: 1px solid #008296;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    outline: 0;
}

.focusable:focus-visible {
    border-color: #008296;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    outline: 0;
}






/* more colours */
/*
body {
    background-color: #A0CED9;
}

.navbar {
    background-color: #E2F0F3;
}


*/