.mContainer{
    margin: 5px;
}

#canvas{
    width: 100%;
}

.oContainer {
    margin-top: 20px;
    
}

.iContainer {
    background-color: aliceblue;
}

.mNav {
    background-color: darkcyan;
    color: aliceblue;
}
.lightText{
    color: aliceblue;
}
.sNav{
    background-color: cornsilk;
}

body {
    background-color: antiquewhite;
}
